&start_params
	tlim    = %(tlim)s
       ,verbose = %(verbose)s
       ,debug   = %(debug)s
       /

&scheme_params
	bdtypex    = %(bdtypex)s
       ,bdtypey    = %(bdtypey)s   
       ,bdtypez    = %(bdtypez)s   
       ,riemann    = %(riemann)s   
       ,riemann2d  = %(riemann2d)s 
       ,slope_type = %(slope_type)s
       ,courant    = %(courant)s   
       /

&model_params
	nx     = %(nx)s    
       ,ny     = %(ny)s    
       ,nz     = %(nz)s    
       ,xmin   = %(xmin)s  
       ,xmax   = %(xmax)s  
       ,ymin   = %(ymin)s  
       ,ymax   = %(ymax)s  
       ,zmin   = %(zmin)s  
       ,zmax   = %(zmax)s  
       ,Omega0 = %(Omega0)s
       ,ciso   = %(ciso)s  
       ,gamma  = %(gamma)s 
       /

&output_params
	dtdump  = %(dtdump)s
	dthist  = %(dthist)s
       ,io_type = %(io_type)s
	/

&mpi_params
	nxslice = %(nxslice)s
	nyslice = %(nyslice)s
	nzslice = %(nzslice)s
	/
